<!DOCTYPE html>
<html>
  	<head>
    	<meta charset="utf-8" name="viewport" content="width=device-width, target-densitydpi=high-dpi" >
    	<title>Currency Convert Widget</title>


	    <!-- Basic Imports -->
	    <script src="assets/dependencies/angular.min.js"></script>
  		<script src="assets/dependencies/angular-animate.min.js"></script>
  		<script src="assets/dependencies/angular-touch.min.js"></script>
  		<script src="assets/dependencies/ui-bootstrap-tpls-2.4.0.min.js"></script>
	    <link href="assets/dependencies/bootstrap.min.css" rel="stylesheet">
 
	    <link rel="stylesheet" type="text/css" href="assets/dependencies/font-awesome-4.7.0/css/font-awesome.min.css">

	    <!-- Stylesheet Imports -->
	    <link rel="stylesheet" type="text/css" href="assets/css/currency.css">
    	<link rel="stylesheet" type="text/css" href="assets/css/currency_responsiveness_settings.css">

    	<!-- Angular Imports -->
	    <script type="text/javascript" src="assets/js/main.js"></script>
    	<script type="text/javascript" src="assets/js/currency_converter.js"></script>

	</head>
	<body ng-app="currency-app">
		<div ng-controller="currency-ctrl" class="wrapper" ng-init="load_page()"> 
			<headline class="headline-wrapper col-xs-12"></headline>

			<div class="alive gone-in-mobile" ng-class="obj.currency_converter.collapsed && 'col-xs-2' || !obj.currency_converter.collapsed && 'col-xs-1'"></div>

			<content class="content-wrapper col-xs-8 no-pad five-border-radius material-shadow alive-heavy"></content>

			<div class="alive gone-in-mobile" ng-class="obj.currency_converter.collapsed && 'col-xs-2' || !obj.currency_converter.collapsed && 'col-xs-3'"></div>

			<div class="widget-wrapper five-border-radius material-shadow alive" ng-class="obj.currency_converter.collapsed && 'collapsed' || obj.currency_converter.disclaimer.open && 'further-expanded-in-mobile' || !obj.currency_converter.collapsed && 'expanded'">
				<div class="collapsed-widget col-xs-12" ng-show="obj.currency_converter.collapsed" ng-click="trigger_widget_collapse()">
					<span class="gone-in-mobile fa fa-usd fa-3x"> </span>
					<br class="gone-in-mobile">
					<span>Open Currency Converter</span>
				</div>
				<span class="collapse-button fa fa-times fa-lg" ng-hide="obj.currency_converter.collapsed" ng-click="trigger_widget_collapse()"></span>
				<div class="col-xs-12" ng-hide="obj.currency_converter.collapsed">
					<h3>Currency Converter</h3>
				</div>
				<widget widget-data="obj.currency_converter" 
						change-unit-call="change_unit(data, boolean, unit)" 
						conversion-call="prepare_conversion(data, boolean)" 
						class="currency-converter" 
						ng-hide="obj.currency_converter.collapsed"></widget>
				<widget-disclaimer class="disclaimer col-xs-12" ng-hide="obj.currency_converter.collapsed"></widget-disclaimer>
			</div>
			<div class="footer col-xs-12">
				Powered by AngularJS and Bootstrap<br>
				Created by Daniel
			</div>
		</div>
	</body>
</html>