/**********
	Responsive Settings
**********/

	/*Large computer screen start at 1440 but the default display is already optimized for 1366*/
	@media screen and (max-width: 1365px) {
		.content-cell-wrapper{
			width: 50%;
		}
	}

	/* Ipad and other tablet devices*/
	@media screen and (max-width: 768px) {
		.gone-in-mobile{
			display: none;
		}
			.headline{
				background-color: #d7ecff;
				width: 100%;
				height: 75px;
				top: 0px;
				left: 0px;
				position: fixed;
				border-radius: 0px;
				z-index: 4;
			}
				.headline-content{
					font-size: 200%;
				}
		.content-wrapper{
			padding-top: 10%!important;
			padding-bottom: 5%!important;
			width: 100%;
			border-radius: 0px;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
		}
			.content.pushed-down-in-mobile{
				padding-top: 190px;
			}
			.content-cell-wrapper{
				padding: 2%;
			}
				.content-label{
					font-size:150%;
				}
					.content-currency-convert-button{
						font-size: 110%;
					}
		.widget-wrapper{
			background-color: #58b0ff;
			color: white;
			top: 65px;
		}
		.widget-wrapper.collapsed{
			right: 35%;
			width: 30%;
			height: 55px;
			border-radius: 10px;
		}
			.collapsed-widget{
				font-size: 125%;
				font-weight: 500;
				padding: 20px 10px 5px 10px;
			}
			.collapse-button{
				top: 15px;
			}
		.widget-wrapper.expanded{
			right: 0%;
			width: 100%;
			height: 210px;
			border-radius: 0px;
		}
		.footer{
			position: relative;
			z-index: 3;
			background-color: #d7ecff;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
		}
	}



	/* smartphone L*/
	@media screen and (max-width: 480px) {
		.content-wrapper{
			padding-top: 15%!important;
			padding-bottom: 10%!important;
		}
			.content{
				padding-top: 40px;
			}
			.content-cell-wrapper{
				width: 100%;
			}
		.widget-wrapper.collapsed{
			right: 20%;
			width: 60%;
		}
	}


	/* smartphone S*/
	@media screen and (max-width: 320px) {
			.headline-content{
				padding-top: 15px;
				font-size: 180%;
			}
		.content-wrapper{
			padding-top: 30%!important;
		}
		.widget-wrapper.collapsed{
			right: 15%;
			width: 70%;
		}
	}

