/* Add here all your css styles (customizations) */

/************* 
	Org Wide CSS
**************/
	.no-pad{ padding: 0px !important; }
	.no-mar{ margin: 0px !important; }
	.five-border-radius{ border-radius: 5px; }


/***********
	Currency Page
***********/
	body{
		background-color: #dfdfdf;
		font-family:calibri; 
		font-weight: lighter;
	}

	.headline-wrapper{
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 0px;
		padding-right: 0px;
	}
		.headline{
			background-color: #595959;
			-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
		}
			.headline-content{
				padding-top: 30px;
				padding-bottom: 30px;
				text-align: center; 
				font-size:300%; 
				color: white;
			}


	.content-wrapper{
		background-color: aliceblue;
		-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
	}
		.content{
			padding: 15px;
		}
			.content-cell-wrapper{
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 15px;
				padding-right: 15px;
			}
				.content-cell-upper{
					background-color: #c8ff8b;
					height: 180px;
				}
				.content-cell-lower{
					background-color: #bfe0ff;
					height: 120px;
				}

	.widget-wrapper{
		position: fixed;
		top: 40%;
		background-color: aliceblue;
		-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
	}
		.collapse-button{
			position: absolute;
			color: #d43f3a;
			cursor: pointer;
			/*height: 96%;
			top: 2%;
			right: 2%;*/
			top: 5%;
			right: 5%;
			z-index: 5;
		}
		.collapsed-widget{
			padding: 20px;
		}
		.currency-converter{
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
		}
			.converter-input{
				border-color: #8e8e8e;
			}
				.converter-input-button{
					height: 30px;
				}
				.converter-input-dropdown{
					min-width: 60px;
					text-align: center;
				}


	#footer{
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
	}